.Monthly-Dashboard-container{
    margin-top: 60px;
    position: relative;
    /* width: 98vw; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Monthly-main-container{
    background-color: #eeede7;
    border-radius: 10px;
    border-radius: 10px;
    margin-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
    /* width: 41vw; */
    width: 41.5%;
    display: flex;
    flex-direction: column;
   
}
.Monthly-container{
    padding-bottom: 20px;
    margin: auto;
    /* background-color: #eeede7; */
    /* background: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px); */
    /* width: 41vw; */
    width: 100%;
    /* width: auto; */
    /* height: 98vh; */
    height: auto;
    display: flex;
    justify-content:space-between;
    gap: 12px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.sidebar{
    position:sticky;
    top: 0;
    left: 0;
    padding-top:20px ;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.month-leaderboard-button{
    background-color:#000c66;
    color: white;
    font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight:500;
        font-style: normal;
    font-size: 1.2rem;
    /* width: 120px; */
    width: auto;
    /* height: 40px; */
    height: auto;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.Monthly-rank{
    padding-top: 10px;
    width:36vw;
    display: flex;
}
 table{
    width: 32vw;
} 
.active{
    background-color: rgb(41, 204, 57);
}
.top-rankers{
    display: flex;
    justify-content: center;
    align-items:center ;
    position:sticky;
    top: 0;
    width: 35%;
    background-color: #eed544;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%; 
}
.leader_board_image{
    top: 15%;
    width: 100%;
    height: 80%;
}
.rank-container{
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    /* width: 95%; */
    width: auto;
    /* height: 50px; */
    height: auto;
    font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight:500;
        font-style: normal;
    font-size: 1.2rem;
    color: #fefdf5;
    display: flex;
    background: linear-gradient(to right, #3e5151, #decba4); 
    justify-content: space-between;
    gap: 10px;
}
.rank-top-container{
    color: #fffefe;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    /* width: 95%; */
    width: auto;
    /* height: 50px; */
    height: auto;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-size: 1.2rem;
    background: linear-gradient(to right, #544a7d, #ffd452);
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.medal-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 35px;
    border-radius: 50%;
}
.medal-icon img{
    width: 100%;
    height: 100%;
}
.rank-counting{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px 2px yellow;
    border-radius: 50%;
}
.rank-top-score-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    background-color: #CBA35C;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(231, 229, 229);
}
.rank-score-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    box-shadow: 2px 2px 2px #1b1b1a;
    border-radius: 10px;
    color: #754E1A;
}
@media (min-width:600px)and (max-width:800px) {
    .Monthly-Dashboard-container{
        position: relative;
        display: flex;
        justify-content: space-between !important;
        align-items: center;
    }
    .Monthly-main-container{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Monthly-container{
        position: relative;
        height: 100%;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .rank-container{
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 10px;
        padding: 10px;
        /* width: 440px; */
        width: auto;
        /* height: 50px; */
        height: auto;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight:500;
        font-style: normal;
        font-size: 1.2rem;
        color: #fefdf5;
        display: flex;
        background: linear-gradient(to right, #3e5151, #decba4); 
        justify-content: space-between;
        gap: 10px;
    }
    .rank-top-container{
        color: #fffefe;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 10px;
        padding: 10px;
        /* width: 440px; */
        width: auto;
        /* height: 50px; */
        height: auto;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight:500;
        font-style: normal;
        font-size: 1.2rem;
        background: linear-gradient(to right, #544a7d, #ffd452);
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    
    .Mobile-responsive-monthly{
        width: 100%;
        height: 55px;
    }
    .responsive-button-monthly{
        /* width: 160px; */
        width: 100%;
        height: 55px;
    }
    .btn-primary {
        color: #10190b;
        font-weight: 600;
        background: linear-gradient(to right, #544a7d, #ffd452);
    }
    .sidebar{
        display: none;
    }
    .week-leaderboard-button{
        display: none;
     }
     .top-rankers{
         display: none;
     }
 }












/* Mobile Responsive -----------------> */

@media (max-width:600px) {
    .Monthly-Dashboard-container{
        position: relative;
        width: 480px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .Monthly-main-container{
        position: absolute;
        top: 100%;
        width: 480px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top-rankers{
        display: none;
    }
    .rank-container{
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 10px;
        padding: 10px;
        width: 440px;
        height: 50px;
        font-family: "Roboto", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.2rem;
        color: #fefdf5;
        display: flex;
        background: linear-gradient(to right, #3e5151, #decba4); 
        justify-content: space-between;
        gap: 10px;
    }
    .rank-top-container{
        color: #fffefe;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 10px;
        padding: 10px;
        width: 440px;
        height: 50px;
        font-family: "Roboto", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.2rem;
        background: linear-gradient(to right, #544a7d, #ffd452);
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    .sidebar{
        display: none;
    }
    .Monthly-rank{
        width: 460px;
        height: 100%;
    }
    .Monthly-container{
        position: relative;
        width: 480px !important;
        height: 100%;
        /* padding: 20px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .responsive-button-monthly{
        width: 240px;
        height: 55px;
    }
    .Mobile-responsive-monthly{
        width: 480px;
        height: 55px;
    }
}
@media (min-width:800px) {
    .Mobile-responsive-monthly{
        display: none;
    } 
}
