.header-class{
    background-color:  #eeede7;
    padding: 0px 20px;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}
.header-class a{
    font-size: 1.3rem;
    margin-left: 20px;
    text-decoration: none;
    color: #151617;
}
.User-Name{
    font-size: 1.3rem;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    width: 100px;
    height: 48.8px;
    position:absolute;
    background-color:  #eeede7 !important;
    right: 15%;
    color: white;
}
.user-dropdown .dropdown-menu{
    width: 120px !important; 
    height: 50px;
    
  }
.logout-button{
   margin-left: 30px;
    padding: 0;
    border: none;
   width: 100px !important;
   background-color: #ffffff;
   height: 35px;
}
.user-dropdown{
    width: 120px !important;
}
.nav-item {
    cursor: pointer; 
    padding: 5px 10px; 
  }
  
  .nav-link {
    color: inherit; 
    text-decoration: none; 
  }
  
  .nav-link:hover {
    text-decoration: none; 
    color: rgb(55, 121, 243); 
  }

@media (max-width:600px) {
    .header-class{
        width: 480px;
        padding: 0;
    }
    .User-Name{
      display: none;
        position: sticky;
        font-size: 1.3rem;
        font-family: "Roboto", serif;
        font-weight: 500;
        font-style: normal;
        width: 100px;
        height: 48.8px;
        z-index: 1000;
        /* position:absolute; */
        background-color:  #eeede7 !important;
        right: 15%;
        color: white;
    }
    
}