.header-class {
 width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* background-color: #eeede7; */
  /* background: rgba(255, 255, 255, 0.9); 
  backdrop-filter: blur(10px); */
  padding: 0px 20px;
  font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight:600;
        font-style: normal;
  /* width: auto; */
}
.nav{
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-link {
  position: relative;
  color: inherit;
  text-decoration: none;
}

.nav-link.active-link {
  font-weight: bold;
  color: rgb(55, 121, 243); 
}

.nav-link.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background-color: rgb(55, 121, 243); 
}
.nav-item {
  cursor: pointer;
  padding: 5px 10px;
}

.nav-link:hover {
  text-decoration: none;
  color: rgb(55, 121, 243);
}


@media (min-width: 600px)and(max-width:800px) {
  .header-class {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .header-class {
    width: 480px;
  }
  .mobile-view{
    display: none;
  }
}
