.Weekly-Dashboard-container{
    margin-top: 60px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Weekly-main-container{
    background-color: #eeede7;
    border-radius: 10px;
    margin-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
    width: 41.5%;
    display: flex;
    flex-direction: column;
}

.Weekly-container{
    margin: auto;
    /* background-color: #eeede7; */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    height: auto;
    display: flex ;
    justify-content:space-between;
    gap: 8px;
    padding-bottom: 20px;
}
.sidebar{
    position:sticky;
    top: 0;
    left: 0;
    padding-top:10px ;
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    gap: 22px;
}
.week-leaderboard-button{
    background-color: #000c66;
    color: white;
    font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight:500;
        font-style: normal;
    font-size: 1.2rem;
    width: auto;
    height: auto;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.weekly-rank{
    padding-top: 10px;
     width: 36vw; 
    display: flex;
}
.active{
    background-color: rgb(41, 204, 57);
}
.Weekly-rank-container{
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    width: 98%;
    height: auto;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-size: 1.2rem;
    color: #fefdf5;
    display: flex;
    background: linear-gradient(to right, #3e5151, #decba4); 
    justify-content: space-between;
    gap: 10px;
}
.Weekly-rank-top-container{
    color: #fffefe;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    width: 98%;
    height: auto;
    font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight:500;
        font-style: normal;
    font-size: 1.2rem;
    background: linear-gradient(to right, #544a7d, #ffd452);
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.active{
    background-color: rgb(41, 204, 57);
}
.medal-icon{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}
.medal-icon img{
    width: 100%;
    height: 80%;
}
.rank-counting{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px 2px yellow;
    border-radius: 50%;
}
.rank-top-score-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    background-color: #CBA35C;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(231, 229, 229);
}
.rank-score-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    box-shadow: 2px 2px 2px #1b1b1a;
    border-radius: 10px;
    color: #754E1A;
}
 @media (min-width:600px)and (max-width:800px) {
    .Weekly-Dashboard-container{
        position: relative;
        display: flex;
        justify-content: space-between !important;
        align-items: center;
    }
    .Weekly-main-container{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Weekly-container{
        position: relative;
        height: 100%;
        /* padding-right: 10px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .weekly-rank{
        width: 100%;
        padding-right: 10px;
        height: 100%;
    }
    .Weekly-rank-container{
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 10px;
        padding: 10px;
        /* width: 440px; */
        width:auto;
        /* height: 50px; */
        height: auto;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight:500;
        font-style: normal;
        font-size: 1.2rem;
        color: #fefdf5;
        display: flex;
        background: linear-gradient(to right, #3e5151, #decba4); 
        justify-content: space-between;
        gap: 10px;
    }
    .Weekly-rank-top-container{
        color: #fffefe;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 10px;
        padding: 10px;
        /* width: 98%; */
        width: auto;
        /* height: 50px; */
        height: auto;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight:500;
        font-style: normal;
        font-size: 1.2rem;
        background: linear-gradient(to right, #544a7d, #ffd452);
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    .Mobile-responsive{
        position: sticky;
        top: 0;
        right: 0;
        overflow: scroll;
        height: 55px;
        width: 100%;
        padding-bottom: 10px;
    }
    .btn-primary {
        color: #10190b;
        font-weight: 600;
        background: linear-gradient(to right, #544a7d, #ffd452);
    }
    .sidebar{
        display: none;
    }
    .week-leaderboard-button{
        display: none;
     }
     .top-rankers{
         display: none;
     }
 }
/* Mobile Responsive ---------------------------------> */
@media (max-width:600px) {
    .Weekly-Dashboard-container{
        position: relative;
        width: 480px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .Weekly-main-container{
        position: absolute;
        top: 100%;
        width:480px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar{
        display: none;
    }
    .week-leaderboard-button{
       display: none;
    }
    .top-rankers{
        display: none;
    }
    .Weekly-container{
        position: relative;
        width: 480px !important;
        height: 100%;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .weekly-rank{
        width: 460px;
        height: 100%;
    }
    .Mobile-responsive{
        position: sticky;
        top: 0;
        right: 0;
        overflow: scroll;
        height: 55px;
        width: 480px !important;
        padding-bottom: 10px;
    }
    .btn-primary {
        color: #10190b;
        font-weight: 600;
        background: linear-gradient(to right, #544a7d, #ffd452);
    }
    .top-rankers{
       display: none;
    }
    .responsive-button{
        height: 55px;
        width: 80px;
    }
    .leader_board_image{
        display: none;
    }
    .Weekly-rank-container{
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 10px;
        padding: 10px;
        width: 440px;
        height: 50px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight:500;
        font-style: normal;
        font-size: 1.2rem;
        color: #fefdf5;
        display: flex;
        background: linear-gradient(to right, #3e5151, #decba4); 
        justify-content: space-between;
        gap: 10px;
    }
    .Weekly-rank-top-container{
        color: #fffefe;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 10px;
        padding: 10px;
        width: 440px !important;
        height: 50px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight:500;
        font-style: normal;
        font-size: 1.2rem;
        background: linear-gradient(to right, #544a7d, #ffd452);
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    .fa-solid{
        left: 0;
        position: sticky;
        height:50px;
        width: 30px;
        font-size: 1.8rem;
        color: white;
    }
    .Basic-example{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media (min-width:800px) {
    .Mobile-responsive{
       
        display: none;
       
    }
    
}