.overall-Dashboard-container{
    margin-top: 60px;
    position: relative;
    /* width: 98vw; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.overall-main-container{
    margin-top: 10px;
    position: absolute;
    background-color: #eeede7;
    border-radius: 10px;
    top: 0;
    right: 0;
    /* width: 41vw; */
    width: 41.5%;
    display: flex;
    flex-direction: column;
}
.overall-container{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 10px;
    margin: auto;
    /* background-color: #eeede7; */
    /* background: rgba(255, 254, 254, 0.9); 
    backdrop-filter: blur(10px); */
    /* width: 41vw; */
    width: 100%;
    /* height: 100vh; */
    height: auto;
    /* height: 100%; */
    padding-bottom: 20px;
    display: flex;
    justify-content:space-between;
    gap: 12px;
}
.overall-rank{
    width:40vw;
    display: flex;
}
.overall-table{
    width:39vw;
}
.active{
    background-color: rgb(41, 204, 57);
}
.overall-rank-container{
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    /* width: 100%; */
    width: auto;
    /* height: 50px; */
    height: auto;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-size: 1.2rem;
    color: #fefdf5;
    display: flex;
    background: linear-gradient(to right, #3e5151, #decba4); 
    justify-content: space-between;
    gap: 10px;
}
.overall-rank-top-container{
    color: #fffefe;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    /* width: 100%; */
    width: auto;
    height: auto;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-size: 1.2rem;
    background: linear-gradient(to right, #544a7d, #ffd452);
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.medal-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 35px;
    border-radius: 50%;
}
.medal-icon img{
    width: 100%;
    height: 100%;
}
.rank-counting{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px 2px yellow;
    border-radius: 50%;
}
.rank-name-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rank-name-container p{
   margin: 0;
   text-align: center;
}
.rank-top-score-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    background-color: #CBA35C;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(231, 229, 229);
}
.rank-score-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    box-shadow: 2px 2px 2px #1b1b1a;
    border-radius: 10px;
    color: #754E1A;
}
/* Mobile Responsive-----------------------------> */
@media (max-width:600px) {
    .overall-Dashboard-container{
    position: relative;
    width:480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.overall-main-container{
    position: absolute;
    top: 100%;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.overall-container{
    padding-left: 10px;
    margin: auto;
    background-color: #eeede7;
    width: 480px;
    height: auto;
    display: flex;
    justify-content:space-between;
    gap: 12px;
}
.overall-rank{
    width:500px;
    display: flex;
}
.overall-rank-container{
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    width: 450px;
    height: 50px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-size: 1.2rem;
    color: #fefdf5;
    display: flex;
    background: linear-gradient(to right, #3e5151, #decba4); 
    justify-content: space-between;
    gap: 10px;
}
.overall-rank-top-container{
    color: #fffefe;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    width: 450px;
    height: 50px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-size: 1.2rem;
    background: linear-gradient(to right, #544a7d, #ffd452);
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
}

