
.login-main-container{
    margin-top: 60px;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
}
.Form.Control{
    width: 95%;
}
.Login_container{
    margin: 20px 0px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    box-shadow: -4px 4px 4px rgb(208, 206, 206);
    width: 450px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-container{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    width: 250px;
    height: 70px;
    text-align: center;
    color: #94c973;
    font-size: 1.4rem;
    

}
.welcome-container span{
    color: #f8cd4f;
    font-size: 1.4rem;
}
.mb-3{
    position: relative;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-weight: 200;
    font-style: normal;
    width: 420px;
    height: 100px;

}
.text-muted p{
    margin-left: 3px;
    color: #000c66;
    font-size: 0.8rem;
}
.form_input{
    font-size: 0.85rem;
    width: 400px;
    border: none;
    display: flex;
    box-shadow: 1px 1px 1px grey;
    color: rgb(239, 230, 230);
    color: grey;
    opacity: 0.7;
} 
.PhoneInputCountrySelect{
   display: none;
}
.PhoneInputCountryIcon{
    margin-top:10px;
    width: 35px;
    height: 30px;
    border: none;
}
.PhoneInputCountryIconImg{
    /* margin-top:20%; */
    width: 35px;
    height: 30px;
    border: none;
}
.PhoneInput{
    display: none;
    width: 400px !important;     
    height:50px;
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center !important;

}
.PhoneInput:hover{
    border: 1px solid #000c66;

}
.PhoneInputCountry{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
}
.PhoneInputInput{
    width: 330px;
    height: 35px;
    border-radius: 5px;
    position: absolute;
    top: 47%;
    left: 16%;
    border: none;
    font-size: 1.2rem;
    color: #000c66 ;
    /* border: 1px solid #000c66; */
    
}
input:focus-visible{
    offset: 0px;
}
:focus-visible{
    outline: none;
}
form h2{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    font-weight: 100;
    color: #d1b722 ;
    font-style: normal;
    text-align: center;
}
.login-button{
    margin-left: 0px;
    width: 400px;
    font-size: 1.3rem;
    font-weight: 600;
    height: 50px;
    background-color: #eed544 !important;
    color: #fff;
}
.login-button:hover{
transition: 1s ease-out;
    background-color: #000c66 !important;
    color: #379777;
    border: 2px solid #eed544 !important;
}
span h4{
    margin-right: 30px;
    margin-top: 20px;
    text-align: end;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
     font-size: 0.85rem;
    font-style: normal;
}
span a{
    text-decoration: none;
    text-align: center;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}
.title{
    margin-left: 3px;
    font-size: 1.3rem;
    color: #000c66;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}
/* .signup_container{
    margin: 20px 0px;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-weight: 200;
    font-style: normal;
    box-shadow: -4px 5px 4px rgb(208, 206, 206);
    width: 500px;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;  
} */



@media (max-width:600px) {
    .login-main-container{
        font-family: "Roboto", serif;
        font-weight: 500;
        font-style: normal;
        display: flex;
        flex-direction: column;
        width: 480px;
        height: auto;
        justify-content: center;
        padding-left: 30px;
        align-items: center;
    }
    input:focus-visible{
        offset: 0px !important;
    }
    :focus-visible{
        outline: none !important;
    }
    .Login_container{
        font-family: "Roboto", serif;
        font-weight: 500;
        font-style: normal;
        font-weight: 200;
        font-style: normal;
        box-shadow: -4px 5px 4px rgb(208, 206, 206);
        width:460px;     
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mb-3{
        font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
        font-weight: 200;
        font-style: normal;
        width: 350px;
        height: 100px;
    }
    .mb-3 .form_input{
        width: 350px;
    }
    .PhoneInput{
        display: none;
        width: 350px !important;     
        height:50px;
        padding: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center !important;
    
    }
    .PhoneInputInput{
        width: 250px !important;
        height: 36px;
        border-radius: 5px;
        position: absolute;
        top: 47%;
        left: 21%;
    }
    .PhoneInput:hover{
        border: 1px solid #000c66;
    }
    .login-button{
        width: 350px;
        height: 50px;
        font-size: 1.3rem;
        background-color: #F4CE14;
        color: #fff;
    }
    .login-button:hover{
        background-color: #fff;
        color: #379777;
        border: 2px solid #F4CE14;
    }

}